<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InsuranceSecure</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="js/countries.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    @Styles.Render("~/Bundle/css/base.css")
    @Scripts.Render("~/Bundle/js/base.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA2m1T_t8yLiPUxGOpd9fNJrpXuS5_5b8"
            async defer></script>

</head>
<body>
    @Html.Partial("Header");
    <main class="container body-content">
        @RenderBody()     
    </main>

    <div id="loading" class="overlay-popup">
        <div class="lightbox"></div>
        <div class="centered content row">
            <img class="hourglass" src="~/images/gifs/hourglass.svg">
        </div>
    </div>

    <div id="appointment-popup" class="overlay-popup">
        <div class="lightbox"></div>
        <div class="centered content row">
            <h2 class="descriptive-text">Want to discuss options with <span class="agent-name"></span> ?</h2>
            <div class="popup-container">
                <div class="time-slot division">
                    <div>
                        <h4>Choose date and timeslot for appointment</h4>
                        <input id="appointment-date" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" data-url="@Url.Content("~/Agents/WorkingHours")"/>
                        <div id="timeslots">
                            @Html.Partial("TimeSlots",
                                InsuranceSecure.Controllers.AgentsController.GetWorkingHours().Where(w => w > DateTime.Now.Hour + 1).ToList())
                        </div>
                    </div>        
                </div>
                <div id="user-details" class="user-details division">
                    <h4>Your Details</h4>
                    @Html.Partial("UserDetailsWidget")
                </div>
            </div>
            
            <footer>
                <div class="confirmation">
                    <label>*</label>
                    <input type="checkbox" />
                    <label class="confirm">Confirm my appointment</label>
                </div>
                <button type="button"
                        class="btn orange-btn select-button"
                        data-url="@Url.Content("~/Agents/BookAppointment")">Book</button>
                <button type="button" class="btn cancel-button">Cancel</button>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
