@{ 
    var type = Request.QueryString.AllKeys.Contains("type") ? Request.QueryString["type"].ToLower() : "";
}
<header>
    <div class="outer-header">
        <div id="is-header">
            <div>
                <img id="logo" src="~/images/logo2.jpg" />
                <span id="is-name">InsuranSecure</span>
            </div>
            <span class="description"> Your one step solution to all your policy needs....</span>
        </div>
    </div>

    <div id="is-insurance-types">
        <ul>
            <li class="@(type == "life" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=life")">Life</a></li>
            <li class="@(type == "car" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=car")">Car</a></li>
            <li class="@(type == "home" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=home")">Home</a></li>
            <li class="@(type == "health" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=health")">Health</a></li>
            <li class="@(type == "bike" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=bike")">Bike</a></li>
            <li class="@(type == "travel" ? "selected" : "")"><a href="@Url.Content("~/home/insurance?type=travel")">Travel</a></li>
        </ul>
    </div>
    
    @*<ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")*@
</header>