@model InsuranceSecure.Models.Utilities.AgentsEmailData

<table class="email-templates">
    <tr>
        <th>User</th>
        <th>User Contact</th>
        <th>User Email</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
    </tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.UserContact</td>
        <td>@Model.UserEmail</td>
        <td>@Model.Date</td>
        <td>@Model.Time</td>
    </tr>
</table>
