
@model Insurance
@{
    ViewBag.Title = "Life Insurance";
    var properties = Model.GetType().GetProperties().ToList();
}

<div id="is-insurance">
    <div id="is-insurance-benifits">
    </div>
    <div id="is-user-details">
        @foreach (PropertyInfo property in properties)
        {
            var displayName = property.GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().Single().Name;
            <div class="input">
                <select class="invisible" id="country" name="country"></select>
                @switch (property.Name)
                {
                case "DOB":
                    <input type="date" />
                    <label>DOB</label>
                break;
                case "State":
                        <select id="state"></select>
                    break;
                case "Coverage":
                        <select id="coverage">
                            <option>Select Insurance Coverage</option>
                            @foreach (var option in Enum.GetValues(typeof(InsuranceCoverage)))
                            {
                                <option value="@option.ToString()">@InsuranceSecure.Helpers.UrlHelpers.GetCoverageString(Url, (InsuranceCoverage)option)</option>
                            }
                        </select>
                    break;
                case "FirstName":
                case "LastName":
                case "Email":
                case "ContactNumber":
                case "City":
                    <input type="@(property.Name == "Email" ? "email":"text")" placeholder="Enter @displayName" />
                break;
                default:
                        break;
                }
            </div>
        }
        @Html.Partial("InsuranceType")

        <button id="is-submit-button" type="submit">Get Quotes</button>
    </div>
</div>


<p>Use this area to provide additional information.</p>
