@model List<InsuranceData>
@{ 
    var session = HttpContext.Current.Session;
}
<table>
    <tr>
        <th>Insurer</th>
        <th>Plan</th>
        <th>Total Payout</th>
        <th>Cover Upto</th>
        <th>Premium</th>
        <th>Download Brochure</th>
    </tr>
    <tr class="spacer"></tr>
    @foreach (var insurance in Model)
    {
        <tr>
            <td title="@insurance.Type">
                <img src="~/images/@insurance.ImageUrl"/>
            </td>
            <td>@insurance.Heading</td>
            <td>Rs. @insurance.TotalPayout</td>
            <td>@insurance.CoverTill years</td>
            <td>Rs. @insurance.Premium</td>
            <td>
                <a href="~/pdf/@(insurance.Brochure).pdf">@($"{insurance.Brochure}.pdf")</a>
            </td>
            <td class="proceed" title="Click to Proceed">
                <a class="proceed" href="@Url.Content($"~/Agents/All?city={session["@User/City"]}&type={insurance.Type}")">Proceed
                </a>
            </td>
        </tr>
    }
</table>